:root{
--Nutmeg: hsl(14, 45%, 36%);
--Dark-Raspberry: hsl(332, 51%, 32%);
--White: hsl(0, 0%, 100%);
--Rose-White: hsl(330, 100%, 98%);
--Eggshell: hsl(30, 54%, 90%);
--Light-Grey: hsl(30, 18%, 87%);
--Wenge-Brown: hsl(30, 10%, 34%);
--Dark-Charcoal: hsl(24, 5%, 18%);
}

* {
Box-sizing: border-box;
margin: 0;
padding: 0;
font-Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif);
}

body {
    Background-color: var(--Eggshell);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

section {
    width: 650px;
    border-radius: 2rem;
    background-color: var(--White);

}

img {
  
  max-width: 100%;
}

h1,
h3 {
  font-family: youngserif;
  color: var(--Nutmeg);
  letter-spacing: 0.05rem;
}

p,
li {
  line-height: 1.6;
  color: hsl(30, 10%, 34%);
}

li {
  margin-top: 0.5rem;
}

.preparation {
  background-color: var(--Rose-White);
}